{% extends "postorius/base.html" %}
{% load i18n %}
{% load pagination %}

{% block head_title %}
{% trans 'System Configuration' %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="page-header">
       <h1>{% trans "Mailman System" %}</h1>
    </div>

    <table class="table table-bordered table-striped">
        {% for key, value in configs %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
